* {
    background-color: #FFF2F2;
}

.bigcontainer{
    display: flex;
    flex-direction: row;
    }
   
    #container{
        display: flex;
        align-self: flex-end;
        width: 100%;
        flex-direction: column;
        padding: 5px;
        margin: 10px;
        border: 5px solid;
        border-radius: 15px;
        border-color: rgb(74, 104, 124) ;
        
    }
    #personalphoto{
        border-radius: 15px;
        padding: 1px;
        margin: 10px;
        border: 5px solid;
        border-color: rgb(74, 104, 124)
    }
    #navcont{
    	display: flex;
    	justify-content: center;
        width: 100%;
    }
    .photocontainer{
        display: flex;
        margin-left: 40px;
        
    }
    .photocontainer > img {
      width: 150px;
      height: 150px;
      justify-self: center;
       justify-content: space-around; 
      padding: 10px;
    }
    .flex-container{
    display: flex;
    justify-content: flex-end;
    }
    .flex-container > div {
      padding: 10px;
      width: 400px;
      height: 200px;
      justify-content: flex-end;
      flex-direction: row;
      text-align: center;
      justify-content: space-around;
      margin: 40px 8px;
    }
    a{
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        font-weight:600;
        margin: 0px 20px;
        border-bottom: 2px solid transparent;
        color: green;
        text-decoration: none;
        }
    a:hover{
            border-color: white;
        }
    h1{
        font-family: "Raleway", sans-serif;
        font-style: bold;
        text-decoration: underline;
        font-weight:600;
        color: #0d2c40;
        margin-left: 85px;
        
        }
    p{
    font-family: "Raleway";
    text-align: center;
    }
    button{
        margin: 16px;
        border-radius: 25px;
    	background-color: rgba(232, 240, 238, 0.316);
    }
    blockquote {
    font-family: "Droid Serif", serif;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    margin: 0px !important;
    }
    header{
        background-color: #f1f1f1d7;
        color: #ffffff;
    }
    /* body{
         margin: 0px 2%; 
            margin:0;
            background-color: #FFFF2;
            text-align: center;
    } */
    main{
        width: 90%;
        margin: 0px 5%;
        margin-bottom: 10px;
        background-color: #FFFFFF;
    }
    #footer .message span {
        
        font-weight: 700;
        color: red;
        background-color: rgb(74, 104, 124);
    }
    footer{
        text-transform:capitalize;
        padding: 0 20px;
        background-color: rgb(74, 104, 124);
        color: white;
        font-size: 14px;
        letter-spacing: .08em;
        font-weight: 500;
    }
    
    footer> div,p{
        background-color: rgb(74, 104, 124);
    }
    .copyright{
    font-family: "Raleway";
    text-align: right;
    background-color:rgb(74, 104, 124) ;
    align-self: flex-end;
    }
    .message{
    font-family: "Raleway";
    text-align: left;
    background-color: rgb(74, 104, 124);
    align-self: flex-start;
    }

    #contact{
        font-family: "Raleway";
        text-align: center;
        background-color: rgb(74, 104, 124);
        width: 100%;
    }
    #contact>p{
        background-color: rgb(74, 104, 124);    
    }

    #footer{

    	display: flex;
    	width: 100%;
    	justify-content: space-between;

    }
    img{
        background-color: rgba(212, 240, 243, 0.68);
    }
    #linkedin{
        color: white;
        background-color: rgb(74, 104, 124);
    }
 
